body{
    background:#e6cfb2;
    font-family: 'Segoe UI', sans-serif;
    margin:0;
}

/* FELSŐ PIROS SÁV */
.header-bar{
    background:linear-gradient(#b10000,#7a0000);
    height:90px;
    position:relative;
}

.main-menu{
    position:absolute;
    width:100%;
    top:30px;
    gap: 300px;
}

.main-menu a{
    color:white;
    text-decoration:none;
    font-weight:600;
    margin:0 40px;
    font-size:20px;
}

.main-menu a:hover{
    opacity:0.7;
}

/* CÍM */
.page-title{
    background:#7a0000;
    color:white;
    display:inline-block;
    padding:15px 80px;
    border-radius:0 0 60px 60px;
    margin-top:-30px;
    font-size:42px;
    font-weight:bold;
    box-shadow:0 6px 15px rgba(0,0,0,0.4);
}

/* FORM DOBOZ */
.form-box{
    border:8px solid #5a1f1f;
    border-radius:30px;
    padding:70px 80px;
    background:#e6cfb2;
    box-shadow:
        inset 0 0 30px rgba(0,0,0,0.25),
        0 8px 25px rgba(0,0,0,0.3);
}

/* INPUT STÍLUS */
.input-group{
    max-width:700px;
    margin:0 auto 25px auto;
}

.input-group-text{
    background:linear-gradient(#8f0000,#5a0000);
    color:white;
    border-radius:30px 0 0 30px !important;
    border:2px solid #5a1f1f;
    border-right:none;
    font-weight:600;
    min-width:150px;
    justify-content:center;
}

.custom-input{
    border-radius:0 30px 30px 0 !important;
    border:2px solid #5a1f1f;
    background:#f3e3d3;
}

/* JELSZÓ SZEM */
.password-toggle{
    position:absolute;
    right:25px;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
    color:#5a1f1f;
    font-size:18px;
}

/* GOMB */
.btn-custom{
    background:linear-gradient(#a54a4a,#7a2d2d);
    border:none;
    padding:12px 50px;
    border-radius:30px;
    color:white;
    font-weight:bold;
    transition:0.3s;
    box-shadow:0 5px 10px rgba(0,0,0,0.3);
}

.btn-custom:hover{
    background:linear-gradient(#7a2d2d,#5a1f1f);
    transform:scale(1.05);
}

/* TICKET */
.ticket-icon{
    width:70px;
    transition:0.3s;
}

.ticket-icon:hover{
    transform:rotate(-8deg) scale(1.1);
}


/* ALSÓ PIROS SÁV */
.footer-bar{
    background: linear-gradient(#b10000, #7a0000);
    height:80px;
    width:100%;
}

/* RESZPONZÍV */
@media(max-width:768px){
    .form-box{
        padding:40px 20px;
    }
    .page-title{
        font-size:28px;
        padding:10px 40px;
    }
}
