 body{
      margin:0;
      background: var(#ecd1ac);
      font-family: "Segoe UI", system-ui,  Arial, sans-serif;
    }

.header-bar{
    background:linear-gradient(#b10000,#7a0000);
    height:90px;
    position:relative;
}

.main-menu{
    position:absolute;
    width:100%;
    top:30px;
    gap: 300px;
}

.main-menu a{
    color:rgb(255, 254, 253);
    text-decoration:none;
    font-weight:600;
    margin:0 40px;
    font-size:20px;
  
}

.main-menu a:hover{
    opacity:0.7;
}

/* CÍM */
.page-title{
    background:#7a0000;
    color:white;
    display:inline-block;
    padding:15px 80px;
    border-radius:0 0 60px 60px;
    margin-top:-30px;
    font-size:42px;
    font-weight:bold;
    box-shadow:0 6px 15px rgba(0,0,0,0.4);

}

.footer-bar{
    background: linear-gradient(#b10000, #7a0000);
    height:80px;
    width:100%;
}

/* RESZPONZÍV */
@media(max-width:768px){
    .form-box{
        padding:40px 20px;
    }
    .page-title{
        font-size:28px;
        padding:10px 40px;
    }
}

.content-wrap{
  padding-top: 55px;
  padding-bottom: 35px;
  min-height: calc(100vh - 90px - 80px);
}

.section-title{
  font-size: 34px;
  font-weight: 900;
  color: #000;
  margin: 0 0 18px 0;
  height: 150px;
}

/* Poszter sáv háttér (a képen sötétebb bézs csík) */
.poster-strip{
  background: var(#cdb28f);
  padding: 80px 0 90px;  /* magasabb csík */
  margin-top: 20px;
}

/* Poszter kártya */
.poster-card{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap: 10px;
  height: 400px;
}

.poster{
  width: 170px;
  height: 240px;
  object-fit: cover;
  border-radius: 14px;
  box-shadow: 0 8px 16px rgba(0,0,0,.35);
  transition: transform .18s ease, box-shadow .18s ease;
}

.poster:hover{
  transform: translateY(-4px) scale(1.02);
  box-shadow: 0 12px 22px rgba(0,0,0,.38);
}

.poster-caption{
  font-size: 12px;
  font-weight: 700;
  color: #000;
  text-align: center;
  max-width: 180px;
}


.poster{
    width: 150px;
    height: 215px;
}
.section-title{
    font-size: 28px;
}





    

